:root {
    --color-primary: #2B2D49;
    --color-secondary: #D9436D;
    --color-additional: #F2F2F2;
     --color-primary-opacity97: rgba(43, 45, 73, .97);
     --color-primary-opacity92: rgba(43, 45, 73, .92);
     --color-primary-opacity88: rgba(43, 45, 73, .88);
}