@import "./design-tokens/css-variables.scss";

.landing {       
    background-color: var(--color-additional);
    color: var(--color-darkgrey);
    width: 100%;    
    text-align: center;

    .landing-left {        
        width: 100%;

        .landing-title {
            font-size: 3rem;
            font-weight: bold;            
            padding-top: 0.5em;
            margin: 0;
        }

        .landing-subtitle {
            color: var(--color-darkgrey);
            font-size: 1.5rem;
        }

        .landing-btn {
            background-color: var(--color-red);
            font-size: 1rem;
            margin-top: 1em;
            margin-bottom: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            color: var(--color-primary);
            font-weight: bold;
            width: 17rem;           
            border:none;
            border-radius: 0.2em;
            box-shadow: inset 0 0 0 0 var(--color-secondary);
            transition: ease-in-out 150ms;

            &:hover {
                cursor: pointer;
                box-shadow: inset 17rem 0 0 0 var(--color-secondary);
                color: var(--color-additional);                    
            }
        }
     }
}

@media screen and (min-width: 800px) {
    .landing {
        width: 100%;
        min-height: 50vmin;
        display:flex;

        .landing-left {
            width: 35%;
            opacity:1;
            display: flex;
            align-items: flex-end;
            padding-bottom: 3rem;
            
            .landing-left-container {
                padding-left: 5vw;
                margin-top: 5em;
                margin-bottom: 5em;
                text-align: left;
                .landing-title {
                    font-size: 2.5rem;
                }
    
                .landing-subtitle {
                    font-size: 1rem;
                    line-height: 2em;
                }
    
                .landing-btn {
                    width:13rem;                    
                    border:none;
                    box-shadow: inset 0 0 0 0 var(--color-secondary);
                    transition: ease-in-out 150ms;
    
                    &:hover {
                        cursor: pointer;
                        box-shadow: inset 13rem 0 0 0 var(--color-secondary);
                        color: var(--color-additional);                    
                    }
                }
            }            
        }

        .landing-right {
            width: 65%;            
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .85;
            z-index:0;               
        }
    }
}

@media screen and (min-width: 1200px) {
    .landing{
        .landing-left{
            .landing-left-container {
                margin-top: 3em;
                margin-bottom: 1em;
                .landing-title {
                    font-size: 4rem;
                }
    
                .landing-subtitle {
                    font-size: 1.5rem;
                }
    
                .landing-btn {     
                    width: 17rem;           
                    border:none;
                    box-shadow: inset 0 0 0 0 var(--color-secondary);
                    transition: ease-in-out 150ms;
    
                    &:hover {
                        cursor: pointer;
                        box-shadow: inset 17rem 0 0 0 var(--color-secondary);
                        color: var(--color-additional);                    
                    }
                }
            }
            
        }
    }    
}

@media screen and (min-width: 1600px) {
    .landing{
        .landing-left{
            .landing-left-container {
                .landing-title {                                   
                    font-size: 5rem;
                }   

            .landing-btn {
                font-size: 1.2rem;
                width: 22rem;
                padding-top: 1em;
                padding-bottom: 1em;
                border:none;
                box-shadow: inset 0 0 0 0 var(--color-secondary);
                transition: ease-in-out 150ms;

                &:hover {
                    cursor: pointer;
                    box-shadow: inset 22rem 0 0 0 var(--color-secondary);
                    color: var(--color-additional);                    
                }
            }
            }
            
        }
    }    
}