@import "./design-tokens/css-variables.scss";

.landing {
    height: 100vh;
    // background-image: url("%PUBLIC_URL%/images/BackgroundImage.jpg");
    background-image: url('../BackgroundImage.jpg');
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover ; /* Resize the background image to cover the entire container */

    .layer {
        background-color: rgba(75,75,75,0.4);        
        width: 100%;
        height:100%;

        .navbar {
            height: 10vh;
        }

        .title{
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .landing-title-container{  
            color: white;
            
            .landing-title{      
                font-size: 4rem;
                font-weight: bold;
            }
            .landing-subtitle{
                text-align: center;
                font-size: 2.5rem;                
            }
        }
    }
    
}

@media screen and (min-width: 800px) {
        
}