@import "./design-tokens/css-variables.scss";

.pricing {
    background-color: var(--color-primary);
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1em;
    text-align: center;

    .pricing-title {
        color: var(--color-additional);        
    }

    .pricing-content {
        width: 96%;
        text-align: center;
        margin: auto;
        padding: auto;
    }

    .pricing-container {
         width: 100%;
         text-align: center;
         display: flex;         
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
        
        .membertype {
            background-color: var(--color-additional);
            color: var(--color-primary);
            margin: 0.5em;
            padding: 0.5em;
        }

        h3 {
            margin: 0;
            text-decoration: underline;
        }

        p {
            margin: 0;
        }
    }
   
  }

  @media screen and (min-width: 800px) {
      .pricing {
        .pricing-content {
            display: flex;
            justify-content: center;

            .pricing-container {
                width: 45%;
                max-width: 570px;

                .pricing-subtitle {
                    margin-left: 0.7em;
                }

                .membertype {
                    margin: 1em;
                }
            }

            .pricing-container + .pricing-container {
                margin-left: 2em;                
            }
        }
        
      }
}