@import "./design-tokens/css-variables.scss";

.projects {
    background: var(--color-darkgrey);
    color: white;
    text-align: center;
    padding-top: 1rem;

    .projects-container{
        width: 90%;
        margin:auto;        

        .text-container{
            font-size: 0.5 rem;
            padding-bottom: 1rem;

            .projects-more {
                font-size: 1rem;
            }
        }

        .projects-image{
            padding-bottom: 1rem;  
        }
    }    
}

@media screen and (min-width: 1000px) {
.projects{
    min-height: 40vh;
    .projects-container{
        width: 98%;
        display: grid;
        grid-template-columns: 30% 1% 39% 30%;
        grid-template-rows: 40% 20% 40%;
        column-gap: 10px;
       
        .text-container{
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            margin:auto;
        }
    }
    .projects-image1 {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:1;
        grid-row-end: 3;
    }

    .projects-image3 {
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end: 2;
    }

    .projects-image2 {
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 4;
    }

    .projects-image4 {
        grid-column-start:3;
        grid-column-end: 5;
        grid-row-start:2;
        grid-row-end: 4;
    }
}
}

// @media screen and (min-width: 1300px) {
//     .projects{
//         .projects-container{    
//             .text-container{
//                 font-size: 1.2rem;
//             }
//             .image-container{                
//                 object-fit: cover;
//             }
//         }
//     }
// }