@import "./design-tokens/css-variables.scss";

.services {
    background: var(--color-darkgrey);
    color: var(--color-additional);
    display:flex;

    .services-container{
        width: 100%;

        .text-container{
            width: 100%;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .text-wrapper {
                width: 90%;
                text-align: center;

                .services-text, p {
                    text-align: left;
                }
                ul {
                    line-height: 1.5em;
                }
            }          
        }
    }    
}

@media screen and (min-width: 1000px) {
.services{
    .services-container{    
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 100%;

        .text-container{
            width: 45%;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .text-wrapper {
                width: 50%;
                text-align: left;
            }          
        }
        .image-container{
            width: 55%;

            img{
                width: 100%;              
            }
        }
    }
}
}

@media screen and (min-width: 1300px) {
    .aboutUs{
        .aboutus-container{    
            .text-container{
                font-size: 1.2rem;
            }
            .image-container{                
                object-fit: cover;
            }
        }
    }
}