/*@import "./design-tokens/scss-variables.scss";*/
@import "./design-tokens/css-variables.scss";
@import "./components/Navbar.scss";
@import "./components/Landing.scss";
@import "./components/AboutUs.scss";
@import "./components/ContactUs.scss";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.section {
    max-width: 96%;
}

.section-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5em 0;
}